/* Colors */
.bg-w {
    background-color: white;
}
/* Colors */

/* Padding & Margin */
.m-20 {
    margin: 20px;
}

.p-20 {
    padding: 20px;
}

.p-23 {
    padding: 23px;
}

.m-23 {
    margin: 23px;
}
/* Padding & Margin */
